* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: inline;
  justify-content: center;
  color: white;
  background-color: rgb(46, 43, 115);
}

.nameInput {
  display: flex;
  align-content: center;
  min-width: 50vw;
  justify-content: space-evenly;
  background-color: rgb(46, 43, 115);
  margin-top: -20px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: lowercase;
  margin-bottom: 21px;
}

h2 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

.gameboard {
  padding: 10px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(46, 43, 115);
  margin-bottom: -50px;
}

.gameboardContainer {
  visibility: hidden;
}

#grid {
  visibility: hidden;
}

.topContainer {
  margin-top: 0;
}
.container-btm {
  padding: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(46, 43, 115);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: -50px;
  width: 10vw;
  background-color: white;
  height: 50px;
  border-radius: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: medium;
}

button:hover {
  background-color: darkorchid;
  color: white;
  box-shadow: 0 0 2px 2px white;
  font-size: larger;
  transition: 0.3s;
  cursor: pointer;
}

#switchGameMode {
  visibility: hidden;
}

#singlePlayerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#grid {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  padding: 0;
}

.cell {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.cell:nth-child(3n + 2) {
  border-right: 5px solid rgb(33, 84, 179);
  border-left: 5px solid rgb(33, 84, 179);
}

.cell:nth-child(n + 4) {
  border-top: 5px solid rgb(33, 84, 179);
}

#singlePlayerForm {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: -30px;
}

#multiPlayerForm {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: -30px;
}

#formBtn {
  margin-top: -20px;
}

#mpFormBtn {
  margin-top: -20px;
}

#winningMsg {
  margin-bottom: 0px;
  margin-top: 80px;
}

#restartBtn {
  margin-top: -20px;
}
